body{
    margin: 0;
    font-family: 'Arial';
}
.searchDiv{
    text-align: center;
    background-color: rgb(246, 121, 63);
    width: 100%;
    padding: 1vw;
    margin-bottom: 2vw;
    font-family: 'Oswald', sans-serif;
}
.cartContainer{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    align-items: center;
}
.items{
    height: 40vw;
    overflow: scroll;
    padding: 2vw;
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    padding: .1vw;
    box-shadow: 0 0 8px 1px rgb(92, 92, 92);
    margin-bottom: 3vw;
}
.flexContainer{
    display: flex;
    align-items: bottom;
}
.flexContainer > div{
    width: 50%;
    margin: 10px;
}
.cartRight{
    text-align: right;
    position: relative;
}
.noMargin{
    margin-top: 0;
}

img{
    width: 75%;
}
.delete{
    color: red;
    cursor: pointer;
}
.delete:hover{
    color: rgb(140, 1, 1);
}

.itemInfoDiv{
    background-color: rgb(246, 121, 63);
    width: 80%;
}

#buy{
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}
#purchase{
    text-align: center;
    color: white;
    background-color: black;
    margin: none;
    width: 100%;
    margin-top: 0px;
    padding: 1vw;
    border-radius: 2vw 0 0 0;
}

@media screen and (max-width: 600px) {
    .cartContainer {
        flex-direction: column;
    }
    .itemInfoDiv{
        width: 100%;;
    }
  }