body{
    margin: 0;
    font-family: 'Arial';
}
.searchDiv{
    text-align: center;
    background-color: rgb(246, 121, 63);
    width: 100%;
    padding: 1vw;
    margin-bottom: 2vw;
    font-family: 'Arial';
}
.cartContainer{
    /* background-color: rgba(216, 205, 198, 0.677); */
    width: 60%;
    height: 42vw;
    /* margin: auto; */
    border-radius: 2vw;
    position: relative;
    width: 100%;
}
.items{
    /* position: absolute; */
    left: 20px;
    /* background-color: rgb(255, 0, 43); */
    width: 60%;
    height: 100%;
    overflow: scroll;
    padding: 2vw;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    /* background-color: yellow; */
    padding: .1vw;
    box-shadow: 0 0 8px 1px rgb(92, 92, 92);
    margin-bottom: 3vw;
}
.flexContainer{
    display: flex;
    align-items: bottom;
}
.flexContainer > div{
    width: 50%;
    margin: 10px;
}
.cartLeft{
}
.cartRight{
    text-align: right;
    /* background-color: brown; */
    position: relative;
}
.noMargin{
    margin-top: 0;
}
a{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
img{
    width: 75%;
}
.delete{
    color: red;
}


.itemInfoDiv{
    position: absolute;
    left:85%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(246, 121, 63);
    width: 30%;
    height: 40vw;
    border-radius: 2vw 0 0 2vw;
    box-shadow: 0 0 8px 1px rgb(246, 121, 63);
}
#itemInfo{
    padding-left: 10px;
}
.itemInfo{
    padding-left: 10px;
    color: #ffffff;
    background-color: rgba(41, 40, 40, 0.171);
}
.buyDiv{
    width: 100%;
    text-align: center;
}
#buy{
    padding: 1vw 7vw;
    background-color: rgb(17, 17, 17);
    border-radius: 3vw;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
#buy:hover{
    background-color: rgb(26, 25, 25);
}
#purchase{
    text-align: center;
    color: white;
    background-color: black;
    margin: none;
    width: 100%;
    margin-top: 0px;
    padding: 1vw;
    border-radius: 2vw 0 0 0;
}